# Jupyter Notebook
.ipynb_checkpoints

# datasets
*.csv # all csv files
*.zip # all zip files

# folders
.venv # all virtualenv folders
.cache # all cache folders
*.egg-info # all egg-info folders

# misc